*{
    margin:0;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('./Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.container{
    display: flex;

}

.picture img {
    width: 30vw;
    height: auto;
    display: block;
}

.left{
  display: flex;
  flex-direction: column;  
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); 
    width: 30vw;
    position: absolute;
    top: 25%;
    
}
  
.logo img {
    height: 15vh;
    width: auto;
}

h1{
    font-family: 'Norse-Bold', sans-serif;
    font-size: 8rem;
    color: white;
}

.photoCredit { 
    position: absolute;
    left: 15%;
    bottom: 2%;
    transform: translate(-50%, -50%);
    color: rgba(245, 245, 245, 0.671);
    font-size: 0.8rem;
    font-family:'Times New Roman', Times, serif
}


.right{
    display: flex;
    flex-direction: column;
}

.quote{
height: 35vh;
width: 70vw;
background-color:whitesmoke;
font-family: ;
font-size: 1.5rem;
display: flex;
}

.quote1{
    position: absolute;
    top: 10%;
    margin-left: 2vw;
    margin-right: 10vw;
}

.quote2{
    position: absolute;
    top: 30%;
    margin-left: 2vw;
}


.form{
    display: flex;
    height: 40vh;
    position: relative;
    left: 5%;
}

.inputRow{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin: 1vw;
}
.inputField{
display: flex;
flex-direction: column;
}

input{
    all:unset;
    border-radius: 4px;
    border-color: #E5E7EB;
    border: 1px;
}
